/* @import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

.banner {
    width: 1440px;
    height: 100vh;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.467);
    background-size: cover;
    background-blend-mode: luminosity;
    background-image: url(../IMG/banner.jpg);
}

.heding {
    font-size: 32px;
    text-align: center;
    color: coral;

}

.hanumaanji {
    background-color: rgb(204, 142, 35);
    float: left;
}

.text {
    padding: 150px;
    float: left;
    text-align: center;
}

.textHindi {
    font-size: 35px;
    color: antiquewhite;
}

.textEng {
    font-size: 32px;
    color: rgb(4, 252, 210);
    font-family: "Stylish", serif;
} */

.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../IMG/banner.jpg);
    background-color: rgba(0, 0, 0, 0.500);
    background-blend-mode:darken; 
    background-repeat: no-repeat;
    border-radius: 50px;
    background-size: cover;
    background-position: bottom;
    font-size: 32px;
    color:white
}

.bannertext {
    font-size: 32px;
    text-align: center;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
    color:white;
}

.bannerimg {
    margin-top: 100px;
}
.text {
    padding: 150px;
    float: right;
    text-align: center;
    padding-left: 80px;
    margin: auto;
}

.textHindi {
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
}

.textEng {
    font-size: 32px;
    color: rgb(4, 252, 210);
    font-family: "Stylish", serif;
    text-align: center;
    float: right;
    margin: 65px;
}
